.whiteboard{
    height: 92vh;
    width: 100vw;
    background-color: white;
    position:fixed;
    top: 65px;
    left: 80px;
    color: black;
    display: flex;
    flex-direction: column;
}

.top{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(201, 201, 201);
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    font-weight: 500;
}

.bottom{
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgb(201, 201, 201);
    padding: 15px;
    margin: 10px;
    
    font-size: 20px;
    font-weight: 500;
}

.title{
    font-size: 30px;
    font-weight: 700;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.notice_container {
    margin-left: 30px;
    width: 20%;
    border: 1px solid #333;
    padding: 0px 0px 10px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .form_wrapper{
    width: 25%;
    border-right: gray solid 1px;
    padding-right: 20px;
  }
  
  .title_input {
    width: 85%;
    height: 40px;
    border-width: 2px;
    border-radius: 10px;;
  }
  
  .text_area {
    margin: 10px;
    width: 90%;
    padding: 10px;
    height: 10vh;
    border-radius: 10px;
  }
  
  .submit_button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: #007c5d;
    border-radius: 5px;
    margin: 10px;
  }