.card_round{
    background: white;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    transition: all .35s;
}

.Title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}

.info{
    font-size: 15px;
    text-align: center;
}